/* ---------- GLOBAL STYLES ---------- */
:root {
    --white: rgba(255, 255, 255, 1);
    --darkteal: rgb(42, 87, 105);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--white) url("../images/page-background.jpeg") no-repeat right top;
    background-size: cover;   
}

/* ---------- HEADER STYLES ---------- */

header {
    height: 160px;
    background: var(--white) url("../images/header-background.png") no-repeat right top; 
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    position: relative;
    top: 50px;
    left: 50px;
    font-family: expressway, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
    color: var(--darkteal);
}


/* ---------- SEARCH BOX ---------- */

.search-container {
    font-size: 25px;
}

.search-query {
    background-color: rgba(24, 24, 27, 0.7);
    font-size: 15px;
    border: none;
    padding: 10px 20px;
}

::placeholder {
    color: var(--white);
}

.card-header {
    font-family: fino-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* ---------- CURRENT WEATHER SECTION ---------- */
.date-container {
    font-family: dunbar-tall, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.date-container .time {
    font-size: 6em;
    font-weight: 100;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .city {
    font-size: 12px;
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: rgba(24, 24, 27, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}


/* ---------- FUTURE FORECAST SECTION ---------- */

.future-forecast {
    color: var(--white);
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: absolute;
    top: 500px;
    right: 360px;
    border-radius: 10px;
}

.future-forecast .weather-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-forecast .weather-forecast-item {
    margin: 0 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 5px;
}

.weather-forecast .weather-forecast-item .date {
    padding: 5px 15px;
    background: var(--darkteal);
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
}
